@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
body{
    min-height:100vh;
    background: #252525;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 *//* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:white;
}
.box{
    display:flex;
    flex-direction: column;
    margin: 0;
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    border: 2px solid black;
    padding:1%;
    border-radius:3%;
    background-color: #2D2424;
}
#error
{
    color:rgb(192, 77, 77);
    position:relative;
    bottom:15%;
    right:12%;
}